################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/BitfinexSolution/.vs/BitfinexSolution/FileContentIndex/2c78eee1-4759-46c8-ae23-f6006847aa1a.vsidx
/BitfinexSolution/.vs/BitfinexSolution/FileContentIndex/992c4c43-9023-4454-844b-17e160a2762d.vsidx
/BitfinexSolution/.vs/BitfinexSolution/FileContentIndex/aa1ab769-9095-40d6-bbab-c0dcf470af1a.vsidx
/BitfinexSolution/.vs/BitfinexSolution/FileContentIndex/b70bbfe0-e88e-42dd-a6de-ee5973ee4ab7.vsidx
/BitfinexSolution/.vs/BitfinexSolution/FileContentIndex/bbc5d53e-970f-49c9-bbfc-001324d6415f.vsidx
